/*Documento css*/

body { background-color: rgb(243, 179, 229);}

h1, h3 {color: beige; font-size: 32px;
    text-align: center;
    line-height: 130%;}

h2 {color: beige;}

h3 {color: beige;}

h4 {color: beige;}

h5 {color: beige;}

h6 {color: beige;}
