/*DOCUMENTO CSS*/

* {margin: 0;
   padding: 0;}

   /*TIPOGRAFÍA*/
   @font-face {
    font-family: 'Creato Display';
    src: url('/Fonts/CreatoDisplay-Regular.woff2') format('woff2'),
        url('/Fonts/CreatoDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;}

    @font-face {
        font-family: 'Creato Display';
        src: url('/Fonts/CreatoDisplay-Medium.woff') format('woff2'),
            url('/Fonts/CreatoDisplay-Medium.woff2') format('woff');
        font-weight: 500;
        font-style: normal;
        font-display: swap;}

.

.bar {width: 100%;
     min-height: 1px;}

.logo {color: rgb(74, 188, 210);
        width: 40px;
        font-size: 2em;
        display: block;
        margin: auto;}

.container {display: flex;
            width: 100%;
            flex-flow: row wrap;}

.items {width: 50%;
        text-align: center;
        color: black;
        background-color: rgb(133, 223, 223);
        padding: 8px 0px;}

        
.container a:first-child {display: none;}

/*BREAKPOINT 600PX*/
@media only screen and (min-width:600px) {
.items {width: 25%;}
.logo {font-size: 3em;}
}

/*BREAKPOINT 992PX*/
@media only screen and (min-width:992px) {
.items {width: 20%;}

.logo {font-size: 3em;}

.container {width: 80%;
            margin: auto;
        position: relative;
    top: 15px;}

.container a:first-child {display: block;
                        border: top left:16px;
                    border: bottom left 15px;} 
 }