@font-face {
    font-family: 'Creato Display';
    src: url('CreatoDisplay-Bold.woff2') format('woff2'),
        url('CreatoDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Creato Display';
    src: url('CreatoDisplay-Medium.woff2') format('woff2'),
        url('CreatoDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Creato Display';
    src: url('CreatoDisplay-Regular.woff2') format('woff2'),
        url('CreatoDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

